.idea/
.vscode/
node_modules/
build/
tmp/
temp/
dist/
coverage/
*.log
*.log.*
*.log-*
*.log/*
*.log-*/


yarn.lock
.env
/src/config/covo-6d45f-firebase-adminsdk-zwfjj-e130d06008.json
/src/services/just.ts
/src/cus
/src/services/platformData.service.ts
/src/tests/test/*